<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777284393355-r7k6u5kqp1cpp8dbejuvg5ehpak14vos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777284393355-r7k6u5kqp1cpp8dbejuvg5ehpak14vos</string>
	<key>API_KEY</key>
	<string>AIzaSyC8WvoHiy6nXk2268Hqe0w-NdAllgvT5mE</string>
	<key>GCM_SENDER_ID</key>
	<string>777284393355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kare.kare</string>
	<key>PROJECT_ID</key>
	<string>kare-3</string>
	<key>STORAGE_BUCKET</key>
	<string>kare-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777284393355:ios:ff550beeb2a5ebc5c7378e</string>
	<key>DATABASE_URL</key>
	<string>https://kare-3.firebaseio.com</string>
</dict>
</plist>